@page
@model IndexModel
@{
    ViewData["Title"] = "Home This is test pag 2e";
}

<div class="text-center">
    <h1 class="display-4">Welcome to azure app from visual studio 2022 By Pankaj Yadav SDE .</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
